<div class="container-fluid bg-secondary d-flex justify-content-between" id="encabezado">
    <div class="d-flex">
        <img src="../../assets/imagenes/descarga3.png" alt="logo" id="imagen">
        <p id="texto">Argentina Programa</p>
    </div>
    <div class="d-flex">
        <button type="button" class="btn" id="boton1"><img src="../../assets/imagenes/descarga2.png" alt="logo" id="imagen"></button>
        <button type="button" class="btn" id="boton2"><a routerLink="/login">Iniciar Sesion</a></button>
    </div>
</div>
<div class="container-fluid d-flex" id="body">
    <img src="../../assets/imagenes/istockphoto-1337329904-170667a.jpg" alt="banner" id="banner">
</div>
