<div>
    <form class="form-group row" id="login">
        <div class="form-group col-md-3" id="input__login">
            <input type="name" class="form-control" id="floatingInput" placeholder="Nombre">
            <label for="floatingInput">Nombre</label>
        </div>
        <div class="form-group col-md-3" id="input__login">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div>
            <button class="btn btn-primary" type="submit" id="boton__submit">LogIn</button>
        </div>
    </form>
</div>